<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>{{ title.base }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Booky - a perfect responsive landing page to sell/share your books online">
    <meta name="author" content="rajendra prasad">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"/>
    <!-- Font-awesmome Css -->
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <!-- Theme CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css"/>
    <!-- PrettyCheckable Css -->
    <link href="../assets/js/plugins/prettyCheckable/prettyCheckable.css" rel="stylesheet">
    <!-- Magnific Popup CSS -->
    <link href="../assets/js/plugins/magnificPopup/magnific-popup.css" rel="stylesheet" type="text/css"/>
    <!-- Quotes Rotator CSS -->
    <link href="../assets/js/plugins/QuotesRotator/css/QuotesRotator.css" rel="stylesheet" type="text/css"/>
    <script src="../assets/js/plugins/QuotesRotator/js/modernizr.custom.js"></script>

    <!--[if IE 7]>
    <link rel="stylesheet" href="../assets/css/font-awesome-ie7.min.css">
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
</head>

<body>
<header id="marketing">
    <div class="container">
        <div class="row">
            <div class="span12 header-inner">
                <a class="logo pull-left" href="#">Ansible 実践入門 - 参考書籍</a>

                <div class="social-icons text-right pull-right">
                    <a href="#"><i class="icon-facebook"></i></a>
                    <a href="#"><i class="icon-twitter"></i></a>
                </div>
                <!--/social-icons-->
            </div>
            <!--/span12-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</header>
<!--/marketing-->


<section id="reference" class="src-wrap">
    <div class="container">
        <!-- インフラ管理者のためのRunBook Automation実践ガイド オープンソースを使ったシステム構築/管理自動化入門 -->
        <div class="row-fluid pricing-box">
            <div class="span9">
                <div class="row-fluid">
                    <div class="span3">
                        <a href="http://www.amazon.co.jp/gp/product/4774170348/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774170348&linkCode=as2&tag=orangeissei-22"><img border="0" src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774170348&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=orangeissei-22" ></a><img src="http://ir-jp.amazon-adsystem.com/e/ir?t=orangeissei-22&l=as2&o=9&a=4774170348" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </div>
                    <div class="span6">
                        <a href="http://www.amazon.co.jp/gp/product/4774170348/ref=as_li_tf_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4774170348&linkCode=as2&tag=orangeissei-22">インフラエンジニア教本 ~ネットワーク構築技術解説 (Software Design 別冊)</a><img src="http://ir-jp.amazon-adsystem.com/e/ir?t=orangeissei-22&l=as2&o=9&a=4774170348" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                    </div>
                </div>
            </div>
            <div class="span3">
            </div>
        </div>

        <!-- インフラ管理者のためのRunBook Automation実践ガイド オープンソースを使ったシステム構築/管理自動化入門 -->
        <div class="row-fluid pricing-box">
            <div class="span9">
                <div class="row-fluid">
                    <div class="span3">
                        <a href="http://www.amazon.co.jp/gp/product/4798129631/ref=as_li_qf_sp_asin_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4798129631&linkCode=as2&tag=orangeissei-22"><img
                                border="0"
                                src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4798129631&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=orangeissei-22"></a><img
                            src="http://ir-jp.amazon-adsystem.com/e/ir?t=orangeissei-22&l=as2&o=9&a=4798129631"
                            width="1" height="1" border="0" alt=""
                            style="border:none !important; margin:0px !important;"/>
                    </div>
                    <div class="span6">
                        <a href="http://www.amazon.co.jp/gp/product/4798129631/ref=as_li_qf_sp_asin_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4798129631&linkCode=as2&tag=orangeissei-22">インフラ管理者のためのRun
                            Book Automation実践ガイド オープンソースを使ったシステム構築/管理自動化入門</a><img
                            src="http://ir-jp.amazon-adsystem.com/e/ir?t=orangeissei-22&l=as2&o=9&a=4798129631"
                            width="1" height="1" border="0" alt=""
                            style="border:none !important; margin:0px !important;"/>
                    </div>
                </div>
            </div>
            <div class="span3">
            </div>
        </div>
        <!-- プロのためのLinuxシステム構築・運用技術 (Software Design plus) -->
        <div class="row-fluid pricing-box">
            <div class="span9">
                <div class="row-fluid">
                    <div class="span3">
                        <a href="http://www.amazon.co.jp/gp/product/4774145017/ref=as_li_tf_il?ie=UTF8&camp=247&creative=1211&creativeASIN=4774145017&linkCode=as2&tag=orangeissei-22"><img
                                border="0"
                                src="http://ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4774145017&Format=_SL160_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=orangeissei-22"></a><img
                            src="http://ir-jp.amazon-adsystem.com/e/ir?t=orangeissei-22&l=as2&o=9&a=4774145017"
                            width="1" height="1" border="0" alt=""
                            style="border:none !important; margin:0px !important;"/>
                    </div>
                    <div class="span6">
                        <a href="http://www.amazon.co.jp/gp/product/4774145017/ref=as_li_tf_tl?ie=UTF8&camp=247&creative=1211&creativeASIN=4774145017&linkCode=as2&tag=orangeissei-22">プロのための
                            Linuxシステム構築・運用技術 (Software Design plus)</a><img
                            src="http://ir-jp.amazon-adsystem.com/e/ir?t=orangeissei-22&l=as2&o=9&a=4774145017"
                            width="1" height="1" border="0" alt=""
                            style="border:none !important; margin:0px !important;"/>
                    </div>
                </div>
            </div>
            <div class="span3">
            </div>
        </div>
    </div>
</section>

<!--/inside-->
<footer>
    <div class="container">
        <div class="row">
            <div class="span12">
                <p class="text-center">&copy; Booky Landing Page 2013. All rights reserved.</p>
            </div>
            <!--/span12-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->
</footer>
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<!-- PrettyCheckable JS -->
<script src="../assets/js/plugins/prettyCheckable/prettyCheckable.js"></script>
<!-- Magnific Popup JS -->
<script src="../assets/js/plugins/magnificPopup/magnific-popup.min.js"></script>
<!-- Quotes Rotator JS -->
<script src="../assets/js/plugins/QuotesRotator/js/jquery.cbpQTRotator.min.js"></script>
<script>
    $(function () {
        customRadioButtons();

        // Testimonials rotator
        $('#cbp-qtrotator').cbpQTRotator();
        // Image Zoom
        $('.thumbnails').magnificPopup({
            delegate: 'a',
            type: 'image',
            closeOnContentClick: false,
            closeBtnInside: true,
            mainClass: 'mfp-with-zoom mfp-img-mobile',
            image: {
                verticalFit: true,
                titleSrc: function (item) {
                    return item.el.attr('title') + '<small>How to sell books online</small>';
                }
            },
            gallery: {
                enabled: true
            },
            zoom: {
                enabled: true,
                duration: 300, // don't foget to change the duration also in CSS
                opener: function (element) {
                    return element.find('img');
                }
            }

        });
        function customRadioButtons() {
            var $customRadio = $('input.prettyCheckable');
            $customRadio.prettyCheckable({
                color: 'blue'
            });
            $customRadio.on('click', function () {
                //console.log($(this).val());
                $parent = $(this).parent().parent();
                $parent.addClass('checked');
                $parent.siblings().removeClass('checked');
            });
        }
    });
</script>
<script type="text/javascript"
        src="http://wms-fe.amazon-adsystem.com/20070822/JP/js/link-enhancer-common.js?tag=orangeissei-22">
</script>
<noscript>
    <img src="http://wms-fe.amazon-adsystem.com/20070822/JP/img/noscript.gif?tag=orangeissei-22" alt=""/>
</noscript>

</body>
</html>
